@import "../../app/main.module.scss";
.visitRepoAndWebsiteButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  background-color: #fafbff;
}

.absolutePosition {
  position: absolute;
}

.styledButton {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: inherit;

  a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: $primary-color;
  

  }

  img {
    transition: transform 0.3s ease;
   
    background-color: #fafbff;
    
 
  }
  .github{
    margin-right: -1.5rem;
    background-color: #fafbff;
  }
  span{
    width: 6rem;
    margin-right: -.4rem;
    background-color: #fafbff;
  }

  &:hover img {
    transform: translateX(5px);
  }
}

.styledButtonGit {
  @extend .styledButton;
}

.styledButtonWebsite {
  @extend .styledButton;
}







  