// _mixins.scss
// @mixin flex-center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
  
//   @mixin responsive($breakpoint) {
//     @if $breakpoint == 'tablet' {
//       @media (max-width: 768px) { @content; }
//     } @else if $breakpoint == 'mobile' {
//       @media (max-width: 480px) { @content; }
//     }
//   }


  @import "breakpoints";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($size, $type: "max") {
  $breakpoint: map-get($breakpoints, $size);

  @if $breakpoint {
    @if $type == "max" {
      @media (max-width: $breakpoint) { @content; }
    } @else if $type == "min" {
      @media (min-width: $breakpoint) { @content; }
    }
  } @else {
    @warn "Il breakpoint #{$size} non è definito.";
  }
}
  