.navbar {
  padding: 1rem 5rem 0 0;
  border-bottom: 0.01rem solid $primary-color;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  margin-bottom: 20rem;

  .navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
      height: 50px;
      margin-left: 1rem;
    }

    .navbarLinks {
      display: flex;
      gap: 4rem;
      margin-right: 5rem;

      .navLink {
        position: relative;
        color: $primary-color;
        padding-bottom: 1rem;
        padding-right: 2rem;
        margin-bottom: -1rem;
        font-size: large;
        font-weight: 100;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem; // Spazio tra testo e icona triangolo
        cursor: pointer;

        &:hover {
          // color: $secondary-color;
        }

        &:hover .triangleContainer {
          transform: translateX(2rem); // Sposta il triangolo a destra
        }

        .triangleContainer {
          display: inline-block;
          transition: transform 0.3s ease; // Animazione fluida
        }
      }

      .contactContainer {
        display: flex;
        align-items: center;

        .envelopeContainer {
          margin-left: -1.4rem;
          margin-top: .5rem;
          display: inline-block;
          transition: transform 0.3s ease; // Animazione fluida
        }

        .moveRight {
          transform: translateX(1.5rem); // Sposta l'icona della busta a destra
        }
      }
    }
  }
}



