@import "../../app/main.module.scss";




.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 42rem;
  border-top: 0.01rem solid $primary-color;

  :nth-child(3) {
    margin-top: 5rem;
  }
}
.mainBox {
  margin-top: 4rem;
  }

.contactContent {
  grid-column: 2 / 4;
  text-align: left;
  margin-left: -2.5rem;
  margin-top: 5rem;
  margin-right: 2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  padding-left: 4rem;
 
  @include responsive("md", "max") {
    grid-column: 1 / 4;
    margin-top: -3rem;
    padding:0 2rem;
    margin-right: -3rem;
  
  }

  .titleContact {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6rem 0 0.5rem 4rem;
    @include responsive("md", "max") {
      padding: 2rem;
      }
  }

  .titleDescription {
    font-size: 1rem;
    font-weight: 200;
    margin-top: -1rem;
    margin-bottom: 2rem;
    padding: 0rem 0 0.5rem 4rem;
    color: $primary-color;
    @include responsive("md", "max") {
    padding:0 2rem;
    }
  }

  // Aggiungiamo una classe generale per i link
  .link {
    display: block;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
    padding: 0rem 0 0.5rem 4rem;
    color: $primary-color;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    @include responsive("md", "max") {
      padding:0 2rem;
      margin: 3rem 0;
    }
    &:hover {
      color: $background-color;
      text-decoration: underline;
    }

    @include responsive("md", "max") {
      padding:0 2rem;
    }
  }

  .label {
    // color: #465567;
    font-weight: 400;
  }
  .labelContent {
    font-weight: 100;
    margin-left: 2rem;
    background-color: #eeffff;
    padding: 0.2rem 0.5rem;

  }

  .mailLink,
  .Linkdin,
  .twitter,
  .github {
    word-break: break-word;
    margin-bottom: 1rem;


  }
}

.messageButton,
.followButton {
  display: block;
  background-color: white;
  color: #465567;
  font-family: var(--font-zeitung-pro);
  text-transform: uppercase;
  font-weight: 300;
  border: 0.1rem solid $primary-color;
  border-radius: 0px;
  padding: 0.5rem 0.95rem;
  text-align: center;
  font-size: 0.7rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  text-decoration: none;
  

  &:hover {
    background-color: $primary-color;
    color: $background-color;
  }
}

.followMeContainer,
.getInTouchContainer {
  border: solid 0.01rem $primary-color;
  margin: 4rem 2rem;
  
}
